*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 3000px;
}
#header{
    position: sticky;
    top: 0;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: darkgray;
}
.menu-item{
    margin-right: 20px;
    list-style-type: none;
    flex-grow: 1;
}
.menu-item a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.menu-item:hover{
    background-color: black;
    text-decoration:line-through;
}
#home, #development, #storage, #projects{
    padding-top: 80px;
}
#home{
    font-size: 20px;
}
#development{
    display: flex;
    justify-content: space-around;
}
#development img{
    height: 150px;
    width: 150px;
}
label{
    font-size: 30px;
}
#storage{
    display: flex;
    justify-content: space-around;
}
#storage img{
    width: 80px;
    height: 80px;
}
.blog, .github{
    font-size: 20px;
    border-spacing: 20px;
}