*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
}
#header{
    position: sticky;
    top: 0;
}
.menu{
    display: flex;
    align-items: center;
    background-color: darkgray;
}
.menu-item{
    list-style-type: none;
    flex-grow: 1;
}
.menu-item a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.menu-item:hover{
    background-color: black;
    text-decoration:line-through;
}
#home{
    background-color: rgb(239, 230, 218);
}
img{
    height: 30px;
    width: 30px;
}
